@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{ 
    font-family: 'Montserrat';
    background-color: black;
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.left-content, .right-content {
    color: white;
    border-radius: 30px;
}

.left-content {
    background: linear-gradient(#88EBEF, #535BE6);
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    width: 441px;
    height: 596px;
    /* padding-top: 75px;
    padding-left: 50px;
    padding-right: 75px;
    padding-bottom: 50px; */
    /* height: 300px; */
}

.right-content {
    position: relative;
    left: -100px;
    z-index: -1;
    background-color: #222831;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    width: 550px;
    height: 557px;
}

.right-header{
    display: inherit;
    flex-direction: column;
    margin-left: 120px;
    margin-top: 30px;
}
.right-footer {
    margin-left: 120px;
}

.change-location {
    width: 371px;
    height: 47px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(#88EBEF, #535BE6);
    color: white;
    margin-left: 16px;
    margin-right: 16px;
}

#precipitation, #humidity, #wind {
    display:inherit;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
}